# Force all .jsx and .js files to be recognized as JavaScript
*.js linguist-language=JavaScript
*.jsx linguist-language=JavaScript

# Ignore build/dist directories
build/* linguist-vendored
dist/* linguist-vendored
public/* linguist-vendored
*.html linguist-vendored
