.home{
    min-height: 100vh; 
}
.home h1{
    margin: 0;
}
.navbar{
    width: 16vw;
}

.navbar.short {
    width: 5vw;
    z-index: 1100;
}

.navbar, .navbar.short{
    display: flex;
    flex-direction: column;
    height: 100%;
    border-right: 0.5px solid var(--lines-color);
    position: fixed;
    top: 0;
    left: 0;
}

.navbar img{
    width: 7vw;
    margin-top: 5vh;
    margin-left: 30px;
    margin-bottom: 20px;
}

.navbar .navbar-components{
    width: 14vw;
    height: 6vh;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 5px;
    font-size: medium;
    border-radius: 15px;
}

.navbar.short .navbar-components {
    width: 75%;
    height: 6vh;
}

.navbar-components a{
    margin-left: 15px;
    margin-bottom: 5px;
    visibility: visible;
}
.navbar.short .navbar-components a {
    visibility: hidden;
}
.navbar-components span{
    font-size:25px;
    margin-left: 15px;
}
.navbar-components:hover{
    background-color: var(--hover-color);
}

#icon{
    margin-top: 4vh;
    margin-bottom: 4vh;
    margin-left:0.3vw;
}
#icon:hover{
    background-color: transparent;
}

.navbar.short svg{
    height: 6vh;
}

.slide-pane{
    margin-left: 6vw;
    width: 400px;
    padding: 0;
}

.navbar-components.more-info{
    margin-top: 22vh;
}

.custom-pane{
    margin-left: 5vw;
}