.home{
    height: 100vh;  
}
.home-content{
    height: 100%;
    margin-left: 16vw;
    width: calc(100% - 16vw);
    display: flex;
    flex-direction: column;
}

.image-container{
    height: 585px;
    width: 468px;
    border: 0.5px solid var(--lines-color);
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.image-container img{
    /*max-height: 585px;
    max-width: 468px;*/
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}
.post-container{
    display: flex;
    flex-direction: column;
    /*width: 25vw;*/
    margin-left: 15vw;
    margin-top: 3vh;
    border-bottom: 0.5px solid var(--lines-color);

    max-width: 100%;
    width: min(470px, 100vw);
}

.description-container{
    height: 182px;
}
.icons-container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size:x-large;
}
.icons-container svg{
    margin: 5px 10px 5px 5px;
    font-size: 24;
}
.icons-container a{
    margin-right: 0;
}
.description{
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 100%;
}
.description a{
    margin-right:10px ;
}
.icon.isLiked{
    background-color: var(--text-color);
}
.likes{
    display: flex;
    margin-left: 15px;
}
.comment-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.write-comment.home-page{
    margin: 0;
    border-top: 0;
    width: 100%;
    outline: none;
}
.action-button.post-button{
    position: absolute;
    margin-top: 0;
    width: 60px;
    height: 30px;
    right: 5vw;
    top: 20%;
}
*input:focus {
    outline: none;
  }


.home-header{
width: 50%;
margin-left: 10vw;
margin-top: 4vh;
border-bottom: 1px solid var(--lines-color);
display: flex;
}

.home-header p{
    font-weight: 650;
    margin-bottom: 1vh;
    font-size: 17px;
    margin-left: 10px;
}


.tab {
    color: rgb(101, 101, 101);
    transition: color 0.3s ease, font-weight 0.3s ease;
}

.tab.active {
    color: var(--text-color);
    font-weight: bold;
}

.tab:hover {
    color: rgb(137, 137, 137);
}