.create-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.create-content {
    background-color: #262626;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    width: 33vw;
    height: 75vh;
    z-index: 1001;

    display: flex;
    flex-direction: column;

    overflow: hidden; /* Prevent overflow */
    transition: width 0.3s ease;
}

.create-content.expanded {
    width: 50vw;
}

.create-content h3{
    margin: 0;
    font-size: medium;
}
  
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
}
.title-content{
    top: 0;
    background-color: rgb(0, 0, 0);
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title-content svg{
    font-size: x-large;
}

.title-content h3{
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

.upload-photo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.upload-photo-container img{
    width: 15vw;
    margin: 0;
}
.upload-placeholder{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.upload-button{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 13vw;
    height: 5vh;
    margin-top: 10px;
    background-color: rgb(0, 171, 245);
    color: aliceblue;
    border: none;
    border-radius: 10px;
    font-weight: 600;
}
.upload-button:hover{
    background-color: rgb(0, 143, 204);
}

.upload-photo-container p{
    margin-top: 0;
    font-size:larger;
    font-weight:500;
}

.preview-container img{
    margin-bottom: 30px;
}

/*preview container*/
.preview-container {
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
}
.upload-image-container{
    width: 468px;
    height: 70vh;
    border: 0.5px solid rgba(101, 101, 101, 0.259);
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.upload-image-container img{
    width: 100%;
    height: 75vh;
    object-fit: cover;
    object-position: center;
}

.upload-description-container{
    margin-top: 10px;
    margin-left: 10px;
    width: 35%;/*popravi*/
}

.upload-description-container textarea{
    width: 100%;
    height: 20vh;
    background-color: transparent;
    border: 1px solid rgb(77, 77, 77);
    color: antiquewhite;
}
