.messages-container{
    height: 100vh;
    overflow: hidden;
}
.messages-content{
    margin-left: 5vw;
    width: calc(100% - 5vw);
    display: flex;

    overflow: hidden;

    overflow-y: auto;
}
.write-messages-content{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
#text-icon{
    width: 8vw;
}
.write-messages-content p{
    margin-top: 0;
    font-size:medium;
    font-weight:100;
}
.send-button{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 5vh;
    margin-top: 10px;
    background-color: var(--active-buttton);
    border-radius: 10px;
    font-weight: 600;
}
.send-button:hover{
    background-color: var(--active-hover);
}

.all-settings-container.messages{
    display: flex;
    flex-direction: column;
    width: 33vw;
    height: 100vh;
    border-right: 0.5px solid rgba(101, 101, 101, 0.259);
}
.display-users-container.messages{
    margin-bottom: 5vh;
}
.info-contents.message-user{
    width: 90%;
    margin-top: 2vh;
}
.info-contents.message-user:hover{
    background-color: var(--hover-color);
}

.user-list-container{
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 100vh;
    border-right: 0.5px solid rgba(101, 101, 101, 0.259);
}

.write-messages{
    width: 90%;
    height: 100%;
    padding-top: 37px;
}
.messages{
    width: 100%;
    height: 85%;
    border-top: 0.5px solid rgba(101, 101, 101, 0.259);
}
.send-message{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.chat-room{
    height: 78vh;
    border-top: 0.5px solid rgba(101, 101, 101, 0.259);
    overflow-y: auto;
}

.send-message textarea{
    width: 100%;
    height: 5vh;
    border-radius: 25px;
    border: 1px solid rgba(101, 101, 101, 0.259);
    background-color: var(--background-color);
    color: var(--text-color);
}