.messages-container{
    height: 100vh;
}
.messages-content{
    height: 100%;
    margin-left: 16vw;
    width: calc(100% - 16vw);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.messages-content img{
    width: 10vw;
}
.messages-content p{
    margin-top: 0;
    font-size:medium;
    font-weight:100;
}
.send-button{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 5vh;
    margin-top: 10px;
    background-color: rgb(0, 171, 245);
    border-radius: 10px;
    font-weight: 600;
}
.send-button:hover{
    background-color: rgb(0, 143, 204);
}