.search-container{
    display: flex; /* Enable flexbox for vertical stacking */
    flex-direction: column; /* Stack children vertically */
    min-height: 100vh; /* Full viewport height */
    width: 100%;
}

.search-content{
    height: 100%;
    margin-left: 5vw;
    width: 400px;
    background-color: rgb(11, 11, 11);
    position: fixed;
    top: 0;
    left: 0;
    border-left: 0.5px solid rgba(101, 101, 101, 0.259);

    display: flex;
    flex-direction: column;
    
}
.search-title{
    display: flex;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 15px;
}
.users-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.search-users{
    width: 90%;
    height: 7vh;
    margin-bottom: 20px;
}
.search-users input{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(73, 73, 73, 0.463);
    color: aliceblue;
    font-size: 17px;
    border: none;
    outline: none;
}
.display-users-container{
    height: 100%;
    width: 93%;
    border-top: 0.5px solid rgba(101, 101, 101, 0.259);

    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 20px;
}

.info-contents{
    border-radius: 15px;
}
/*.info-contents:hover{
    background-color: rgba(101, 101, 101, 0.259);
}*/